@import "tailwindcss";

:root {
  --color-primary: #252872;
  --color-primary-light: #3538a0;
  --color-primary-dark: #1a1d54;

  --color-secondary: #d91f22;
  --color-secondary-light: #ef4444;
  --color-secondary-dark: #b91c1c;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply text-[#252872] bg-white;
  }
}

/* Custom scrollbar for horizontal scrolling sections */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
